<div
  class="flex flex-col z-40 sidebar-border h-screen left-0 top-0 px-6 pt-5 pb-4 fixed bg-white lg:pt-8"
>
  <a class="flex items-center mb-5 cursor-pointer" routerLink="/">
    <img src="/icons/logo.svg" alt="Logo" class="size-15px lg:size-32px mr-3" />
    <h1 class="text-2xl font-bold">Horizon</h1>
  </a>
  <div
    class="flex items-center border border-gray-300 rounded-lg p-2 w-100 mb-2"
  >
    <img src="/icons/search.svg" class="me-2 size-4 text-gray-300" />
    <input
      type="text"
      placeholder="Search"
      class="outline-none flex-1 bg-transparent"
    />
  </div>
  <nav class="my-5 flex flex-col h-screen">
    @for (url of urls; track $index) {
    <a
      [routerLink]="url.url"
      (click)="setIsActiveUrl()"
      [routerLinkActive]="url.isActive ? 'is-active' : ''"
      class="flex rounded-lg hover:text-white hover:bg-blue-600 py-2 px-2 mb-3 link"
    >
      <img [src]="url.imgSrc" class="size-6 mr-3" />
      <p class="font-bold text-sm">{{ url.name }}</p>
    </a>
    }

    <div
      class="mt-auto flex align-middle cursor-pointer justify-between"
      (click)="logout()"
    >
      <div class="flex-col">
        <p class="font-bold text-gray-700">{{ user?.name }}</p>
        <p class="text-gray-600">{{ user?.email }}</p>
      </div>
      <i class="mt-2 ml-auto"><img src="/icons/logout.svg" /></i>
    </div>
  </nav>
</div>
