<div class="flex flex-col sidebar-border h-screen left-0 top-0 px-6 py-8 fixed">
  <a class="flex items-center mb-5 cursor-pointer" routerLink="/">
    <img
      src="/icons/logo.svg"
      alt="Logo"
      class="size-[32px] max-xl:size-14 mr-3"
    />
    <h1 class="text-2xl font-bold">Horizon</h1>
  </a>
  <div
    class="flex items-center border border-gray-300 rounded-lg p-2 w-100 mb-2"
  >
    <img src="/icons/search.svg" class="me-2 size-4 text-gray-300" />
    <input
      type="text"
      placeholder="Search"
      class="outline-none flex-1 bg-transparent"
    />
  </div>
  <nav class="my-5">
    @for (url of urls; track $index) {
    <a
      [routerLink]="url.url"
      routerLinkActive="is-active"
      class="flex rounded-lg hover:text-white hover:bg-blue-600 py-2 px-2 mb-3 link"
    >
      <img
        [src]="url.imgSrc"
        class="size-6 mr-3"
      />
      <p class="font-bold text-sm">{{url.name}}</p>
    </a>
    }
  </nav>
</div>
