<div class="overflow-x-auto">
  <table class="min-w-full table-auto">
    <thead>
      <tr class="bg-gray-100 py-4">
        <th class="px-4 py-2 text-gray-500 text-left">Transaction</th>
        <th class="px-4 py-2 text-gray-500 text-left">Amount</th>
        <th class="px-4 py-2 text-gray-500 text-left">Status</th>
        <th class="px-4 py-2 text-gray-500 text-left">Date</th>
        <th class="px-4 py-2 text-gray-500 text-left">Category</th>
      </tr>
    </thead>
    <tbody>
      @if(transactions()?.length>0){ @for(transaction of transactions(); track
      $index){
      <tr class="border-t py-4">
        <td
          class="px-4 py-2"
          class="flex-row flex align-middle items-center text-gray-500"
        >
          <span
            ><img
              *ngIf="transaction.image"
              [src]="transaction.image"
              class="mx-3 rounded-full w-8"
              alt="Transaction Image"
            />
            <div
              *ngIf="!transaction.image"
              class="bg-gray-600 mx-3 w-8 rounded-full h-8 flex justify-center align-middle text-white font-semibold items-center"
            >
              {{ transaction.name?.[0]}}
            </div> </span
          ><span>{{ transaction.name | removeUnwantedChars }}</span>
        </td>
        <td
          class="px-4 py-2 font-semibold"
          [ngClass]="{
            'text-red-600': transaction.amount < 0,
            'text-success-600': transaction.amount > 0,
            'text-gray-600': transaction.amount == 0
          }"
        >
          ${{ transaction.amount | padTwoDecimal }}
        </td>
        <td
          class="px-1 py-1 text-xs font-semibold text-gray-500 flex justify-center align-middle items-center"
          [ngClass]="!transaction.pending ? 'success-pill' : 'danger-pill'"
        >
          <span
            [ngClass]="!transaction.pending ? 'success-pill' : 'danger-pill'"
            >{{ transaction.pending ? "Pending" : "Success" }}</span
          >
        </td>
        <td class="px-4 py-2 text-gray-500">
          {{ transaction.date | date : "yyyy-MM-dd" }}
        </td>
        <td class="px-4 py-2 text-gray-500">
          <p
            [ngClass]="transaction?.categoryStyles?.border"
            class="px-1 py-1 text-xs font-semibold rounded-full flex justify-center align-middle items-center"
          >
            {{ transaction.category | titlecase }}
          </p>
        </td>
      </tr>
      } } @else{
      <tr class="border-t py-4">
        <td class="px-4 py-2 text-center text-gray-500" colspan="6">
          No data found.
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
