<div class="flex flex-col gap-1 w-4/6">
  <app-title-header
    titleHTML="<h2 class='text-24 lg:text-30 font-semibold text-gray-900'>Weicome! (name)</h2>"
    desc="Access & manage your account and transactions efficiently."
  ></app-title-header>

  <div
    class="bg-white border border-gray-300 rounded-lg shadow-lg my-10 py-5 w-full flex"
  >
    <div class="w-1/4">
      <canvas id="donut">{{ donut }}</canvas>
    </div>
    <div class="w-1/4 py-3 flex flex-col justify-between">
      <h3 class="font-bold text-base text-gray-700">2 Bank Accounts</h3>
      <div class="flex flex-col">
        <p class="text-gray-500">Total Current Balance</p>
        <h3 class="font-bold text-2xl">$1,000,000</h3>
      </div>
    </div>
    <div class="w-2/4 text-right py-3 pr-10">
      <app-plaid-link [user]="user()" color="text-blue-500"></app-plaid-link>
    </div>
  </div>
</div>
